body {
    margin: 0;
    height: 100vh;
    background: black;
    color: yellow;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    perspective: 800px; /* changed from 400 */
}

.star-wars {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex; /* new */
    align-items: flex-end; /* new */
    justify-content: center; /* new */
}

.crawl {
    /* position: absolute;
    top: 100%;
    width: 100%; */
    width: 80%;
    max-width: 800px;
    text-align: justify;
    transform-origin: 50% 100%;
    animation: crawl 90s linear forwards;
}

.starfield {
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      overflow: hidden;
      z-index: 0;
}

.stars {
    width: 1px;
    height: 1px;
    background: white;
    position: absolute;
    animation: starAnim 20s linear forwards;
}

pre {
    white-space: pre-wrap;
    text-align: center;
    font-size: 26px;
    /* max-width: 600px;
    margin: 0 auto; */
}

#start-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: yellow;
    background: none;
    border: 2px solid yellow;
    padding: 1em 2em;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
}

@keyframes crawl {
    0% {
        /* top: 100%; */
        transform: rotateX(20deg) translateZ(0) translateY(100%);
    }
    100% {
        /* top: -200%; */
        transform: rotateX(25deg) translateZ(-1000px) translateY(-200%);
    }
}
