body {
    margin: 0;
    height: 100vh;
    background: black;
    color: rgb(255, 215, 0);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    perspective: 400px;
}

.star-wars {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.crawl {
    width: 80%;
    max-width: 800px;
    text-align: justify;
    transform-origin: 50% 100%;
    /* Hide text before animation starts. */
    opacity: 0;
    visibility: hidden;
    /* ================================== */
    transition: opacity 5s ease-in;
}

.animate-crawl {
    animation: crawl 120s linear forwards;
    opacity: 1;
    visibility: visible;
}

.starfield {
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      overflow: hidden;
      z-index: 0;
}

.stars {
    width: 1px;
    height: 1px;
    background: white;
    position: absolute;
    animation: starAnim 20s linear forwards;
}

pre {
    white-space: pre-wrap;
    text-align: center;
    font-size: 28px;
}

#start-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: rgb(255, 215, 0);
    background: none;
    border: 2px solid rgb(255, 215, 0);
    padding: 1em 1em;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
}

@keyframes crawl {
    0% {
        /* top: 100%; */
        transform: rotateX(20deg) translateZ(0) translateY(100%);
    }
    100% {
        /* top: -200%; */
        transform: rotateX(25deg) translateZ(-1000px) translateY(-300%);
    }
}
